<section class="wrapper" style="margin-top: 43rem;" id="about">
    <div class="about-us">
        <div class="about-us-content">
            <div class="content-info">
                <div class="content-info-header">
                    <h5>OUR STORY</h5>
                    <h3>Luxury is an attitude</h3>
                </div>
                <div class="content-info-description">
                    <p style="font-weight: 500;">
                        Discover the best dining destinations with Luxury Restaurant.
                        Guide and subscribe to enjoy privileges, exclusives and invites.
                    </p>
                    <p>
                        For us, luxury is not about finance, it’s about attitude - a commitment to excellence, inspirational quality, genuine hospitality and increasingly, integrity to a sustainable future.
                    </p>
                    <p class="p3">
                        Since 1999 we have been sourcing and nurturing the most incredible partnerships with the most dynamic and visionary of hospitality brands - restaurants, hotels, gastropubs and cafés - and we love sharing them with you.
                    </p>
                    <a href="#" class="find-out-more">
                        Find out more
                        <i class='bx bx-right-arrow-alt'></i> 
                    </a>
                </div>
            </div>
            <div class="content-images">
                <img class="image1" src="/assets/2.jpg" alt="restaurant picture" width="600" height="350" style="border-radius: 7px;">
                <img class="image2" src="/assets/3.jpg" alt="restaurant picture" width="400" height="250" style="border-radius: 7px;">
            </div>
        </div>
    </div>
</section>
